# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/

# Environnement
.env
.env.local
.env.development
.env.test
.env.production

# Système d'exploitation
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Tests
coverage/

# Divers
.vscode/
.idea/
.DS_Store
tmp/ 